$banner-border-color: #BD402D;
$error-red: red;
$error-red-alt: darken($error-red, 10%);
$warning-yellow: yellow;
$success-green: green;
$success-green-alt: lighten($success-green, 10%);

.document {
  height: 100%;
  padding: 80px 40px;

  &.error {
    .container.info {
      border-color: $error-red-alt;
    }
  }

  &.ok {
    .container.info {
      border-color: $success-green-alt;
    }
  }

  .container.info {
    position: relative;
    border: 2px solid $banner-border-color;
    padding: 40px;
    background: #eee;
    border-radius: 10px;

    .label {
      color: #444;
    }

    .stamp {
      width: 60px;
      height: 60px;

      border-radius: 50%;

      position: absolute;
      top: -30px;
      right: -30px;

      &.error {
        background: $error-red;

        i {
          color: $error-red-alt;

          &:before {
            content: '\f00d';
          }
        }
      }

      &.ok {
        background: $success-green;

        i {
          color: $success-green-alt;

          &:before {
            content: '\f00c';
          }
        }
      }

      i {
        width: 60px;
        height: 60px;
        font: normal normal normal 14px/1 FontAwesome;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 40px;
      }
    }

    .hidden {
      visibility: hidden;
      display: none;
    }

    .anomalies-container {
      margin-top: 20px;
    }

    .anomaly {
      list-style: none;

      .anomaly-name {
        margin-right: 4px;

        &.error {
          color: $error-red
        }

        &.warning {
          color: $warning-yellow
        }
      }
      .anomaly-message {
        margin-right: 10px;
      }
      .anomaly-location {
        cursor: pointer;
        color: #507daf;
      }
    }

    .CodeMirror {
      height: 150px;

      .CodeMirror-ruler.short-description-limit {
        height: 2em;
        top: 50px;
      }

      .CodeMirror-ruler.long-description-limit {
        top: 75px;
      }
      .marker {
        width: 0;
        height: 0;

        &.highlighted {
          animation: blink-animation 0.5s steps(5, start) infinite;
          -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
        }

        &.error {
          color: $error-red;
        }

        &:before {
          content: '\f0de';
          font-family: FontAwesome;
          margin-left: -4px;
        }
      }
    }
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
