$orange: #F14E32;

$background-color: white;

$banner-height: 80px;
$banner-padding: 30px;

$banner-color: white;
$banner-background-color: $orange;
//$banner-border-color: #74BDFF;
//$banner-border-color: #9E4C3F;
$banner-border-color: #BD402D;

$footer-height: 40px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: $background-color;
}

.top-banner {
  position: relative;
  height: $banner-height;
  padding: 0 $banner-padding;

  background: $banner-background-color;
  color: $banner-color;

  border-bottom: 4px solid $banner-border-color;

  .header {
    display: inline-block;

    .logo {
      width: 64px;
      float: left;
      margin: 8px 10px;
    }

    .title {
      font-size: 2em;
      font-weight: bold;

      display: inline-block;
      line-height: $banner-height;
      margin: 0;

      a {
        color: white;

        &:hover {
          color: white;
          text-decoration: underline;
        }
      }
    }

    .punchline {
      display: inline-block;
      margin-left: 14px;

      &::before {
        content: '\2014';
        margin-right: 8px;
      }
    }
  }

  a.login, div.user {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: $banner-padding;
    padding-right: 30px;
    padding-left: 30px;

    line-height: $banner-height;

    text-decoration: none;
  }

  div.user {
    line-height: 50px;
    top: 15px;

    .avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 8px;
    }
  }
}

.content {
  color: #675252;
  i.fa {
    margin-right: 10px;
  }

  .header {
    text-align: center;
    margin: 0 40px 40px 40px;

    h1 {
      font-size: 40px;
      margin-bottom: 10px;
      color: $banner-background-color;

      img {
        width: 200px;
      }
    }

    p.small {
      font-size: 20px;
      margin-top: 10px;
      color: $orange;
    }
  }
  .pitch {
    font-size: 20px;
    text-align: center;
    margin: 0 100px;

    p {
      margin: 0;
    }
  }
  .three-points {
    margin-top: 80px;

    .idea {
      position: relative;
      width: 33%;
      display: inline-block;
      text-align: center;
      height: 200px;

      .name {
        height: 30px;
        font-size: 30px;
      }

      .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        bottom: 50px;

        .text {
          position: absolute;
          top: 50%;
          left: 40px;
          transform: translate(0, -50%);
          right: 40px;
        }
      }

      .separator {
        border-right: 1px solid black;
        height: 100px;

        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
      }
    }
  }
  .features {
    background: white;
    border-top: 2px solid $banner-border-color;

    .section-title {
      padding: 10px;
      margin-bottom: 40px;
      font-size: 30px;
      text-align: center;
    }
  }
}

.viewport {
  overflow-y: auto;
  padding: 0 50px 50px 50px;
  top: 84px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  &.with-footer {
    bottom: $footer-height;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  text-align: center;
  line-height: $footer-height;
  color: white;
  background: $orange;

  .fa.fa-heart {
    margin: 0 4px;
    color: #FF928A;
  }

  a {
    margin-left: 4px;
    color: white;
    text-decoration: underline;

    &:hover {
      color: #74BDFF;
    }
  }
}

.features {
  padding-top: 60px;
  margin-top: 40px;
}

.features-list {
  //border: 1px solid #000;
  display: inline-block;
  //height: 300px;
  //margin-right: 20px;
  //padding: 10px;
  width: 50%;
  padding: 0;
  list-style: none;

  &.right {
    float: right;
  }

  .feature {
    margin-bottom: 30px;

    .name {
      font-size: 16px;
      font-weight: bold;
    }
  }
}
