li.error.anomaly
  span.error.anomaly-name
    | [Error/#{error.rule}]
  span.error.anomaly-message
    | #{error.errorOptions.message}
  span.error.anomaly-location(data-uuid=error.uuid)
    | (#{error.errorOptions.loc.line}:#{error.errorOptions.loc.column})
