extends layout

block content
  include topbar.pug
  div.viewport.with-footer
    div.content
      div.header
        h1
          img.logo(src='/public/img/logo_256.png')
        p.small A extensible linter for your git commits

      div.pitch
        p git-linter provide a set of rules to validate the message for each of your commit.
        //br
        p Never again merge a pull request where git commits do not match your coding style!

      div.three-points
        div.idea
          div.name
            i.fa.fa-docker
            | Docker
          div.content
            div.text The webservice for git-linter is shipped using Docker meaning you can deploy it everywhere in a snap!
          div.separator
        div.idea
          div.name
            i.fa.fa-flask
            | Extensible
          div.content
            div.text You can create your own rules and your own plugins as a npm package. Be responsible of your own commit message style instead of being forced to use irrelevant rules.
          div.separator
        div.idea
          div.name
            i.fa.fa-magic
            | Easy to setup
          div.content
            div.text Provide 3 variables to Docker and you are good to go.
      div.features
        div.section-title
          i.fa.fa-cogs
          | Features
        div.row
          div.col-sm-6.features-list.left
            div.feature.free
              div.name 100% free
              div.description
                p
                  | This service is and will always be
                  strong  free
                  | .
          div.col-sm-6.features-list.right
            div.feature.integration
              div.name Integration with GitHub and GitLab
              div.description
                p This service is made to interact with GitHub and GitLab. But also to be extended to any other services
        div.row
          div.col-sm-6.features-list.left
            div.feature.floss
              div.name FLOSS
              div.description
                p All the code is open source and free as intended by the FSF. The code is distributed under a GPL 3.0 license
          div.col-sm-6.features-list.right
            div.feature.language
              div.name Language agnostic
              div.description
                p All rules are independent of the programming language used. Only the commit message is linted
  div.footer
    div.copyrigth
      | Made with
      i.fa.fa-heart
      | by
      a(
      href="https://benjamin.vanryseghem.com"
      target="_blank"
      ) Benjamin Van Ryseghem
