extends layout

block content
  include topbar.pug
  div.document(class=hasErrors ? 'error' : (hasWarnings ? 'warning' : 'ok'))
    div.container.info
      div.stamp(class=hasErrors ? 'error' : (hasWarnings ? 'warning' : 'ok'))
        i
      div.content
        div.message-container
          div.label
            | Message to lint:
          div#message
        div.anomalies-container(class=hasErrors ? 'visible' : (hasWarnings ? 'visible' : 'hidden'))
          div.label(class=hasErrors ? 'visible' : 'hidden')
            | Errors:
          ul.anomalies.errors(class=hasErrors ? 'visible' : 'hidden')
            each error in errors
              include errorBlock.pug
          div.label(class=hasWarnings ? 'visible' : 'hidden')
            | Warnings:
          ul.warnings(class=hasWarnings ? 'visible' : 'hidden')
            each warning in warnings
              include warningBlock.pug
    script(src="/public/js/codemirror.js")
    script
      | initializeCodeMirror(!{data});
    script(src="/public/js/locations.js")
