doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block favicon
      head(profile="http://www.w3.org/2005/10/profile")
      link(
      rel="icon"
      type="image/png"
      href="/public/img/favicon.png"
      )
    block fa
      link(rel='stylesheet', href='/public/lib/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/public/lib/font-awesome-docker-icon/fontcustom.css')
    block jquery
      script(src="/public/lib/jquery-3.2.0/jquery-3.2.0.min.js")
    block bootstrap
      link(rel='stylesheet', href='/public/lib/bootstrap-3.3.7/css/bootstrap.min.css')
      script(src='/public/lib/bootstrap-3.3.7/js/bootstrap.min.js')
    block codemirror
      script(src="/public/lib/codemirror-5.25.0/lib/codemirror.js")
      script(src="/public/lib/codemirror-5.25.0/addon/display/rulers.js")
      link(rel='stylesheet', href='/public/lib/codemirror-5.25.0/lib/codemirror.css')
    block css
      link(rel='stylesheet', href='/public/css/style.css')
      link(rel='stylesheet', href='/public/css/error.css')
      link(rel='stylesheet', href='/public/css/info.css')
    block scripts
      script(src="/public/js/useRetinaImages.js")
  body
    block content
