li.warning.anomaly
  span.warning.anomaly-name
    | [Error/#{warning.rule}]
  span.warning.anomaly-message
    | #{warning.errorOptions.message}
  span.warning.anomaly-location(data-uuid=warning.uuid)
    | (#{warning.errorOptions.loc.line}:#{warning.errorOptions.loc.column})
