.document {
  height: 100%;
  padding: 80px 40px; }
  .document.error .container.info {
    border-color: #cc0000; }
  .document.ok .container.info {
    border-color: #00b300; }
  .document .container.info {
    position: relative;
    border: 2px solid #BD402D;
    padding: 40px;
    background: #eee;
    border-radius: 10px; }
    .document .container.info .label {
      color: #444; }
    .document .container.info .stamp {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: absolute;
      top: -30px;
      right: -30px; }
      .document .container.info .stamp.error {
        background: red; }
        .document .container.info .stamp.error i {
          color: #cc0000; }
          .document .container.info .stamp.error i:before {
            content: '\f00d'; }
      .document .container.info .stamp.ok {
        background: green; }
        .document .container.info .stamp.ok i {
          color: #00b300; }
          .document .container.info .stamp.ok i:before {
            content: '\f00c'; }
      .document .container.info .stamp i {
        width: 60px;
        height: 60px;
        font: normal normal normal 14px/1 FontAwesome;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        font-size: 40px; }
    .document .container.info .hidden {
      visibility: hidden;
      display: none; }
    .document .container.info .anomalies-container {
      margin-top: 20px; }
    .document .container.info .anomaly {
      list-style: none; }
      .document .container.info .anomaly .anomaly-name {
        margin-right: 4px; }
        .document .container.info .anomaly .anomaly-name.error {
          color: red; }
        .document .container.info .anomaly .anomaly-name.warning {
          color: yellow; }
      .document .container.info .anomaly .anomaly-message {
        margin-right: 10px; }
      .document .container.info .anomaly .anomaly-location {
        cursor: pointer;
        color: #507daf; }
    .document .container.info .CodeMirror {
      height: 150px; }
      .document .container.info .CodeMirror .CodeMirror-ruler.short-description-limit {
        height: 2em;
        top: 50px; }
      .document .container.info .CodeMirror .CodeMirror-ruler.long-description-limit {
        top: 75px; }
      .document .container.info .CodeMirror .marker {
        width: 0;
        height: 0; }
        .document .container.info .CodeMirror .marker.highlighted {
          animation: blink-animation 0.5s steps(5, start) infinite;
          -webkit-animation: blink-animation 0.5s steps(5, start) infinite; }
        .document .container.info .CodeMirror .marker.error {
          color: red; }
        .document .container.info .CodeMirror .marker:before {
          content: '\f0de';
          font-family: FontAwesome;
          margin-left: -4px; }

@keyframes blink-animation {
  to {
    visibility: hidden; } }

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden; } }
