html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: white; }

.top-banner {
  position: relative;
  height: 80px;
  padding: 0 30px;
  background: #F14E32;
  color: white;
  border-bottom: 4px solid #BD402D; }
  .top-banner .header {
    display: inline-block; }
    .top-banner .header .logo {
      width: 64px;
      float: left;
      margin: 8px 10px; }
    .top-banner .header .title {
      font-size: 2em;
      font-weight: bold;
      display: inline-block;
      line-height: 80px;
      margin: 0; }
      .top-banner .header .title a {
        color: white; }
        .top-banner .header .title a:hover {
          color: white;
          text-decoration: underline; }
    .top-banner .header .punchline {
      display: inline-block;
      margin-left: 14px; }
      .top-banner .header .punchline::before {
        content: '\2014';
        margin-right: 8px; }
  .top-banner a.login, .top-banner div.user {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 30px;
    padding-right: 30px;
    padding-left: 30px;
    line-height: 80px;
    text-decoration: none; }
  .top-banner div.user {
    line-height: 50px;
    top: 15px; }
    .top-banner div.user .avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 8px; }

.content {
  color: #675252; }
  .content i.fa {
    margin-right: 10px; }
  .content .header {
    text-align: center;
    margin: 0 40px 40px 40px; }
    .content .header h1 {
      font-size: 40px;
      margin-bottom: 10px;
      color: #F14E32; }
      .content .header h1 img {
        width: 200px; }
    .content .header p.small {
      font-size: 20px;
      margin-top: 10px;
      color: #F14E32; }
  .content .pitch {
    font-size: 20px;
    text-align: center;
    margin: 0 100px; }
    .content .pitch p {
      margin: 0; }
  .content .three-points {
    margin-top: 80px; }
    .content .three-points .idea {
      position: relative;
      width: 33%;
      display: inline-block;
      text-align: center;
      height: 200px; }
      .content .three-points .idea .name {
        height: 30px;
        font-size: 30px; }
      .content .three-points .idea .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        bottom: 50px; }
        .content .three-points .idea .content .text {
          position: absolute;
          top: 50%;
          left: 40px;
          transform: translate(0, -50%);
          right: 40px; }
      .content .three-points .idea .separator {
        border-right: 1px solid black;
        height: 100px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%); }
  .content .features {
    background: white;
    border-top: 2px solid #BD402D; }
    .content .features .section-title {
      padding: 10px;
      margin-bottom: 40px;
      font-size: 30px;
      text-align: center; }

.viewport {
  overflow-y: auto;
  padding: 0 50px 50px 50px;
  top: 84px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }
  .viewport.with-footer {
    bottom: 40px; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
  background: #F14E32; }
  .footer .fa.fa-heart {
    margin: 0 4px;
    color: #FF928A; }
  .footer a {
    margin-left: 4px;
    color: white;
    text-decoration: underline; }
    .footer a:hover {
      color: #74BDFF; }

.features {
  padding-top: 60px;
  margin-top: 40px; }

.features-list {
  display: inline-block;
  width: 50%;
  padding: 0;
  list-style: none; }
  .features-list.right {
    float: right; }
  .features-list .feature {
    margin-bottom: 30px; }
    .features-list .feature .name {
      font-size: 16px;
      font-weight: bold; }
