extends ../../layout

block content
  include ../../topbar.pug
  div.container.info-container.col-sm-6.col-sm-offset-3
    h1.title "target_url_too_long" error
    div.description
      p Due to a technical limitation from GitLab, the url containing the build information can not be more than 255 characters long. Unfortunately, your build reached this limit therefor we had to stripped it down.
      p Sorry for the inconvenience.
