extends ../../layout

block content
  include ../../topbar.pug
  div.container.info-container.col-sm-6.col-sm-offset-3
    if name
      h1.title "invalidConfiguration" error in #{name}
    else
      h1.title "invalidConfiguration" error
    div.description
      p The configuration file found (#{name}) is not a valid git-linter configuration file. Please read the documentation and fix it.
      p Thanks in advance.
